<!doctype html>
<html>
  <head>
  
    <link rel="stylesheet" href="CSS/form.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <body style="background-color: #e0a800;">

    <div class="row" style="margin:auto; position:relative;width: 1500px; padding:10px; padding-top: 10px;">
        <div class="col-md-8 offset-md-2">
            <div class="page-content page-container" id="page-content">
                <div class="padding">
                    <div class="row">
                        <div class="col-md-6" style="margin:auto; position:relative;width: 1500px; padding:10px;">
                            <div class="card">
                                <div class="card-header"><h2><strong>ConnectIN</strong></h2></div>
                                <div class="card-body">
                                    <h3 style="text-align: center; padding-bottom: 20px;">Create Alumni Profile</h3>
                                    <form>
										<div id="preview"></div>
										<div class="form-group">
											<label for="upload_file" style="display:block; width:50%; height:45px; margin-left: 25%; line-height:50px; text-align:center; background:#1172c2; color:#fff; font-size:15px; font-family: sans-serif; text-transform:Uppercase; font-weight:600; border-radius:5px; cursor:pointer;">Upload Image</label>
											<input style="display:none;" type="file" name="upload_file" class="form-control" id="upload_file" onchange="getImagePreview(event)">
										</div>
							
                                        <div class="form-group"><label class="text-muted" >Year</label><input type="text" name="year" class="form-control" placeholder="Enter graduation year"></div>
                                        <div class="form-group"><label class="text-muted" >Degree</label><input type="text" name="degree" class="form-control" placeholder="Enter degree"></div>
                                        <div class="form-group"><label class="text-muted" >Faculty</label><input type="text" name="faculty" class="form-control" placeholder="Enter faculty"></div>
                                        <div class="form-group"><label class="text-muted">Department</label><input type="text" name="department" class="form-control" placeholder="Enter department name"></div>
                                        <div class="form-group"><label class="text-muted">Job History</label> <textarea style="min-height: 100px" name="history" placeholder="<Company> <Position> <Description>"  rows=10 cols=20> </textarea></div>
										<div class="form-group">
                                        </div> <button type="submit" class="btn btn-warning" style="float: right; border: 2px solid black; text-transform: none;" >Create Profile</button>
                                    
									</form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<script>
		function getImagePreview(event) {
			var image = URL.createObjectURL(event.target.files[0]);
			var imageDiv = document.getElementById('preview');
			var  newImg = document.createElement('img');
			newImg.src = image;
			newImg.style.width="50%";
			imageDiv.style.display="flex";
			imageDiv.style.justifyContent="center";
			imageDiv.style.padding="10px";
			imageDiv.appendChild(newImg);
		}		  
  	</script>
    
  </body>
</html>
