<!doctype html>
<html>
  <head>
  
    <link rel="stylesheet" href="CSS/form.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <body style="background-color: #e0a800;">

    <div class="row" style="margin:auto; position:relative;width: 1500px; padding:10px; padding-top: 100px;">
        <div class="col-md-8 offset-md-2">
            <div class="page-content page-container" id="page-content">
                <div class="padding">
                    <div class="row">
                        <div class="col-md-6" style="margin:auto; position:relative;width: 1500px; padding:10px;">
                            <div class="card">
                                <div class="card-header"><h2><strong>ConnectIN</strong></h2></div>
                                <div class="card-body">
                                    <h3 style="text-align: center;">Login</h3>
                                    <form method="post" action="/login">
                                        <div class="form-group"><label class="text-muted">Email address</label><input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"></div>
                                        <div class="form-group"><label class="text-muted">Password</label><input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password"></div>
                                        <div class="form-group">
                                        </div> <button type="submit" class="btn btn-warning" style="float: right; border: 2px solid black;" value="submit">Login</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>
</html>
