<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="CSS/form.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  </head>

  
  <body style="background-color: white;">
    <style>
      .search{
      height: 30px;
      width: 600px;
      }
      
    .card{
      max-width: 350px;
    }
      
  </style>
    
      <nav>
       <div class="nav-wrapper amber accent-3;">
         <a href="#" class="brand-logo  black-text">ConnectIN</a>
        </div>
      </nav> 
    
<!--Search bar and submit button-->
    <main style="padding: 1em" class="row">
      <section class="col s12 m6">
        
        <form class="row">
          <div>
            <div class="input-field col s9">
              <i class="material-icons prefix">search</i>
              <textarea id="icon_prefix2" name="search" class="materialize-textarea"></textarea>
              <label for="icon_prefix2">Search</label>
            </div>
            <div class="input-field s9">
              <button class="btn waves-effect waves-light" type="submit" >Submit
              <i class="material-icons right">send</i>
              </button>
            </div>
        </div>
      </form>

    <!--Card for each profile-->
      <section class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="https://upload.wikimedia.org/wikipedia/commons/7/74/Samoyed_dog.jpg">
              <span class="card-title">Samoyed Dog</span>
            </div>
            <div class="card-content">
              Temperament: Friendly, Playful, Stubborn, Sociable 
            </div>
            <div class="card-action">
              <a href="#">Click to view profile</a>
            </div>
          </div>       
        </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="https://upload.wikimedia.org/wikipedia/commons/7/74/Samoyed_dog.jpg">
              <span class="card-title">Samoyed Dog</span>
            </div>
            <div class="card-content">
              Temperament: Friendly, Playful, Stubborn, Sociable
            </div>
            <div class="card-action">
              <a href="#">Click to view profile</a>
            </div>
          </div>       
        </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="https://upload.wikimedia.org/wikipedia/commons/7/74/Samoyed_dog.jpg">
              <span class="card-title">Samoyed Dog</span>
            </div>
            <div class="card-content">
              Temperament: Friendly, Playful, Stubborn, Sociable
            </div>
            <div class="card-action">
              <a href="#">Click to view profile</a>
            </div>
          </div>       
        </div>
        
      </section>    
    </section>
      
      
      </main>
    
  </body>
</html>